@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #3b82f6;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}
